Exercise_1a/proto.csv
Exercise_1a/test_small.csv
Exercise_1a/test_small_500.csv
Exercise_1a/train_small.csv
Exercise_1b/.idea/Exercise_1b.iml
Exercise_1b/.idea/inspectionProfiles/Project_Default.xml
Exercise_1b/.idea/misc.xml
Exercise_1b/.idea/modules.xml
Exercise_1b/.idea/workspace.xml
data/MNIST/train_large.csv
data/MNIST/train_large_15071.csv
data/MNIST/train_med_6088.csv
Exercise_2a/.idea/Exercise_2a.iml
Exercise_2a/.idea/inspectionProfiles/Project_Default.xml
Exercise_2a/.idea/misc.xml
Exercise_2a/.idea/modules.xml
Exercise_2a/.idea/workspace.xml
